[
	{
		"goe_address": "http://goe",
		"min_current": 10,
		"max_current": 32,
		"consumption": 500,
		"pvtype": "SBFspot",
		"sbfspotconfig": "System1.cfg"
	},
	{
		"goe_address": "http://goe2",
		"min_current": 10,
		"max_current": 32,
		"consumption": 500,
		"pvtype": "SBFspot",
		"sbfspotconfig": "System2.cfg"
	}

]

